body {
	font-family: Helvetica;
}

h1, h3 {
	color: #606060;
}

h1, #choices {
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	margin-top: 0px;
	margin-bottomw: 0px;
	text-align: right;
	font-size: 18px;
}

.col-md-2 {
	padding: 5px;
}

.center {
	margin: auto;
	text-align: center;
}

.square {
	background-color: #FFFFFF;
	border: 1px solid #F0F0F0;
}

#choicesForm {
	font-size: 14px;
}